<div class='home-container'>
    <div class='title'>
        <h1>BudgetBuddy</h1>
    </div>
    <div class='buttons'>
        <%= link_to "Log In", new_user_session_path, style:'color: white; height: 2.5em; background-color: #3778c2' , class:"btn text-white" %>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn" %>
    </div>
</div>
